<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.wms.shipment.mapper.WmsShipmentDetailMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE
		FROM  wms_shipment_detail
		WHERE
			 shipment_id = #{mainId} 	</delete>

	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.wms.shipment.entity.WmsShipmentDetail">
		SELECT a.*, wp.product_name, IFNULL(wooi.picked_quantity, 0) - IFNULL(wooi.packed_quantity, 0) surplus
		FROM wms_shipment_detail a
				 left join wms_products wp on a.sku_id = wp.id
				 left join wms_out_orders_items wooi on a.order_item_id = wooi.id
		WHERE
			 shipment_id = #{mainId} 	</select>
</mapper>
