<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.wms.shipment.mapper.WmsShipmentMapper">
    <!--关联查询wms_shipment-->
    <select id="queryShipmentList" parameterType="org.jeecg.modules.wms.shipment.entity.WmsShipment" resultType="org.jeecg.modules.wms.shipment.entity.WmsShipment">

        select a.*, woo.order_no, wwm.wave_no,wc.carrier_name
        from wms_shipment a
        left join wms_out_orders woo on a.order_id = woo.id
        left join wms_wave_master wwm on a.wave_id = wwm.id
        left join wms_carrier wc on a.carrier_id=wc.id
        where 1=1
        <!--包裹编码-->
        <if test="shipmentNo != null and shipmentNo !=''">
            and a.shipment_no = #{shipmentNo}
        </if>
        <!--订单号-->
          <if test="orderNo != null and orderNo !=''">
            and woo.order_no = #{orderNo}
        </if>
        <!--订单id-->
          <if test="orderId != null and orderId !=''">
            and woo.id = #{orderId}
        </if>
        <!--根据波次号查询-->
        <if test="waveNo != null and waveNo !=''">
            and wwm.wave_no = #{waveNo}
        </if>
        <!--根据波次id查询-->
        <if test="waveId != null and waveId !=''">
            and a.wave_id = #{waveId}
        </if>
    </select>
</mapper>
