<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.wms.outorder.mapper.WmsOutOrdersItemsMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE
		FROM  wms_out_orders_items
		WHERE
			 order_id = #{mainId} 	</delete>

	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.wms.outorder.entity.WmsOutOrdersItems">
		SELECT *
		FROM  wms_out_orders_items
		WHERE
			 order_id = #{mainId} 	</select>


</mapper>
